[class*="col-"] {
  border: 2px solid blue;
}

body {
  background-color: lightgreen;
  font-family: 'Roboto', sans-serif;
}

.padding_top_25 {
  padding-top: 25px;
}

.nav_background {
  height: 80px;
  background-color: green;
}

.nav_background nav ul li a {
  color: white;
  margin-left: 10px;
  line-height: 30px;
}

.logo_nav {
  width: 100%;
  vertical-align: middle;
}

.first_menu {
  color: white;
}

.bk_yellow {
  height: 300px;
  background-color: yellow;
}
.area_logo {
  background-color: purple;
  height: 200px;
  font-size: 30px;
}

.deploy {
  background-color: lightblue;
  height: 400px;
}

.designed {
  background-color: orange;
  height: 400px;
}

.features {
  background-color: brown;
  height: 300px;
}

.service {
  background-color: #1f4141;
  height: 300px;
}

.development {
  background-color: #08b519;
  height: 300px;
}

.footer_top {
  background-color: #ea71f6;
  height: 100px;
}

.footer_bottom {
  background-color: #c1c7e2;
  height: 300px;
}
