/* [class*="col-"] {
  border: 2px solid black; */
}
/* BODY */
body {
  background-color: lightgreen;
  font-family: 'Roboto', sans-serif;
}

.chevron {
  vertical-align: middle;
  padding-left: 3px;
}

.fa-chevron-down {
  color: #031C4E;
}

.fa-chevron-right {
  color: #005FE6;
  font-size: 10px;
  vertical-align: middle;
  padding-left: 2px;
}


/* TITLE SECTION HEADER */
h1 {
  font-size: 52px;
  font-weight:500;
  margin-right: 140px;
  color: white;
}

.subtitle {
  color: #D2DEFF;
  font-size: 18px;
  margin-right: 140px;
}

.title_box {
  color: black;
  font-weight: bold;
  font-size: 25px;
  padding-top: 20px;
}

.title_box_under {
  color: #0069FF;
  margin-top: 0;
  font-weight: 500;
}

.term_service h5 {
  margin: 20px 0;
  font-size: 12px;
}

/* END TITLE SECTION HEADER */

/* BOX FORM SECTION HEADER */
.box_form {
  background-color: white;
  border-radius: 4px;
}

.padding_top_20 {
  padding-top: 20px;
}

/* BUTTON SECTION HEADER */
.menu_hamb {
  font-size: 20px;
  line-height: 1.5;
  vertical-align: middle;
}

.btn_bar {
  background-color: white;
  border: 1px solid #0069FF;
  margin-left: 10px;
}

.btn_bar:hover {
  background-color: #0049FF;
  color: white;
}

.btn_form {
  width: 100%;
  background-color: #0069FF;
  color: white;
}

.btn_form:hover {
  background-color: #1633FF;
  color: white;
}

.btn_google {
  width: 100%;
  border: 1px solid lightgrey;
  box-shadow: 1px 1px lightgrey;
  font-size: 12px;
  font-weight: bold;
  margin-top: 15px;
}

.btn_google img {
  width: 5%;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
  display: inline-block;
}

/* END SECTION BUTTON HEADER */

/* SECTION NAVBAR */
.nav_background {
  position: fixed;
  top: 0;
  left:0;
  width:100%;
  color: #0049FF;
  height: 70px;
  background-color: white;
  z-index: 10;
}

.nav_background nav ul li a {
  color: #031C4E;
  margin-left: 10px;
  line-height: 36px;
  font-size: 15px;
}

.nav_background nav ul li a:hover {
  color: #0049FF;
  text-decoration: none;
}

.bk_blue {
  padding-top: 120px;
  padding-bottom: 40px;
  /* height: 500px; */
  background-image: url(../img/background_home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo_nav {
  width: 100%;
  height:auto;
  vertical-align: middle;
}

.first_menu {
  color: white;
}

/* END SECTION NAVBAR */

/* MAIN */
.area_logo {
  background-color: #F3F5F9;
  font-size: 30px;
}

/* TITLE SECTION AREA LOGO */
.title_logo {
  font-size: 14px;
  display: inline-block;
  color: #B8BECD;
  font-weight: bold;
}

.padding_top_40 {
  padding-top: 40px;
}

.logo_features {
  max-width: 10%;
  height: auto;
  display: inline;
}

.link_view {
  font-size: 13px;
  vertical-align: middle;
  color: #005FE6;
}

/* SECTION DEPLOY */

.deploy {
  background-color: white;
  padding-bottom: 40px;
}

h3 {
  font-weight: bold;
}

.box_deploy h5 {
  font-weight: bold;
  font-size: 14px;
}

.box_deploy p {
  font-size: 12px;
}

.list_deploy {
  list-style: none;
  line-height: 30px;
  border-left: 1px solid grey;
}

.designed {
  background-color: orange;
  height: 400px;
}

.features {
  background-color: brown;
  height: 300px;
}

.service {
  background-color: #1f4141;
  height: 300px;
}

.development {
  background-color: #08b519;
  height: 300px;
}

.footer_top {
  background-color: #ea71f6;
  height: 100px;
}

.footer_bottom {
  background-color: #c1c7e2;
  height: 300px;
}


@media screen and (max-width: 768px) {

  .logo_nav {
    width: 45%;
    height: auto;
    vertical-align: middle;
  }

  h1 {
    font-size: 36px;
    font-weight:500;
    margin-right: 0;
    color: white;
  }

  .subtitle {
    color: #D2DEFF;
    font-size: 18px;
    margin-right: 0;
  }
}

@media screen and (min-width:769px) and (max-width:1199px) {

  .box_form {
    background-color: white;
    border-radius: 4px;
  }

  .logo_nav {
    width: 40%;
    height:auto;
    vertical-align: middle;
  }

  h1 {
    font-size: 36px;
    font-weight:500;
    margin-right: 60px;
    color: white;
  }

  .subtitle {
    color: #D2DEFF;
    font-size: 18px;
    margin-right: 80px;
  }
}

 @media screen and (min-width: 1200px) {

  .logo_nav {
    width: 100%;
    height:auto;
    vertical-align: middle;
  }

  /* h1 {
    font-size: 36px;
    font-weight:500;
    margin-right: 0;
    color: white;
  }

  .subtitle {
    color: #D2DEFF;
    font-size: 18px;
    margin-right: 0;
  } */
}
