[class*="col-"] {
  border: 2px solid black;
}

body {
  background-color: lightgreen;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 52px;
  font-weight:500;
  margin-right: 140px;
  color: white
}

.subtitle {
  color: #D2DEFF;
  font-size: 18px;
  margin-right: 140px;
}


.chevron {
  vertical-align: middle;
  padding-left: 3px;
}
.menu_hamb {
  font-size: 20px;
  line-height: 1.5;
  vertical-align: middle;
}

.padding_top_20 {
  padding-top: 20px;
}

.btn_bar {
  background-color: white;
  border: 1px solid #0069FF;
  margin-left: 10px;
}

.btn_bar:hover {
  background-color: #0049FF;
  color: white;
}

.nav_background {
  position: fixed;
  top: 0;
  left:0;
  width:100%;
  color: #0049FF;
  height: 70px;
  background-color: white;
  z-index: 10;

}

.nav_background nav ul li a {
  color: #031C4E;
  margin-left: 10px;
  line-height: 36px;
  font-size: 15px;
}

.nav_background nav ul li a:hover {
  color: #0049FF;
  text-decoration: none;
}

.fa-chevron-down {
  color: #031C4E;
}

.logo_nav {
  width: 100%;
  height:auto;
  vertical-align: middle;
}

.first_menu {
  color: white;
}

.bk_blue {
  padding-top: 120px;
  height: 500px;
  background-color: blue;
}
.area_logo {
  background-color: purple;
  height: 200px;
  font-size: 30px;
}

.deploy {
  background-color: lightblue;
  height: 400px;
}

.designed {
  background-color: orange;
  height: 400px;
}

.features {
  background-color: brown;
  height: 300px;
}

.service {
  background-color: #1f4141;
  height: 300px;
}

.development {
  background-color: #08b519;
  height: 300px;
}

.footer_top {
  background-color: #ea71f6;
  height: 100px;
}

.footer_bottom {
  background-color: #c1c7e2;
  height: 300px;
}


@media screen and (max-width: 768px) {

  .logo_nav {
    width: 45%;
    height: auto;
    vertical-align: middle;
  }
}

@media screen and (min-width:769px) and (max-width:1199px) {

  .logo_nav {
    width: 40%;
    height:auto;
    vertical-align: middle;
  }
}

 @media screen and (min-width: 1200px) {

  .logo_nav {
    width: 100%;
    height:auto;
    vertical-align: middle;
  }
}
